
@media only screen and (max-width: 300px) {
  .nav.responsive {
    border: none;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    a {
      &.icon {
        color: $black;
        position: absolute;
        top: 50px;
        right: 10px;
      }
    }
    .logo {
      &_list1 {
        padding: 20px 0;
        display: block;
        li {
          margin-bottom: 20px;
        }
      }
      &_list2 {
        display: none;
      }
    }
  }
  .nav {
    // display: block;
    padding: 40px 10px;
    position: relative;
    a {
      &.icon {
        color: $black;
        position: absolute;
        top: 50px;
        right: 10px;
      }
    }
  }
  .logo {
    // margin-left: 0;
    // align-self: ;
  }
}
@media only screen and (max-width: 500px) {
  .ft {
    .ft_option {
      display: flex;
      flex-direction: column;
      margin-left: 0;
      li {
        &:not(:nth-child(4)) {
          border-right: none;
        }
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .ship_total {
    .ship {
      select,
      input {
        width: 100%;
      }
      .zip {
        margin-left: 0;
      }
      button {
        width: 100%;
      }
    }
    .total {
      table {
        width: 100%;
      }
    }
  }
}