$blue: #00bcd4;
$grey_nav: #3c3950;
$grey_bd: #dfe5e8;
$grey_bg_total: #f0f3f2;
$grey_text_total: #72838e;
// $grey_input_total: #b6c6c9;
$grey_input_ship: #adbac4;
$grey_card_text: #b4bdc3;
$grey_radio: #b6c6c9;
$grey_square: #f0f3f2;
$grey_ava: #99a9b5;
$grey
$white: white;
$black: #393d50;
$red: red;
$grey_info: #cfd7dc;
$grey_price: #cbcad0;
$grey_item: #afb9be;
$grey_bg_input: #f5f7f6;
$blue_hover: #3498db;

