@impor
span.test {
  width: 80px;
  height: 50px;
  background: blue;
  display: block;
  margin: auto;
  position: relative;
}

span.test::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 30px solid blue;
  position: absolute;
  right: 100%;
  top: 0;
}
.tag {
  display: flex;
  // align-items: center;
  gap: 0;
  .triangle {
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-right: 18px solid $blue;
    border-bottom: 9px solid transparent;
  }
  .square {
    width: 24px;
    height: 18px;
    background: $blue;
  }
}
