div {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
  margin: 20px;
  padding-left: 15px;
  background: blue;
  /* color: blue; */
  line-height: 20px;
  /* border-radius: 4px; */
  border: 1px solid #c7d2db;
}
div:after,
div:before {
  position: absolute;
  content: "";
  border: 1px solid #c7d2db;
}
div:after {
  /* the arrow on left side positioned using left property */
  height: 14px;
  width: 14px;
  transform: rotate(45deg);
  background: #e8edf2;
  border-color: transparent transparent #c7d2db #c7d2db;
  left: -6px;
  top: 2px;
}
