@import "reset";
@import "var";
@import "mixin";
.ft {
  font-size: 14px;

  .text {
    .copy {
      color: $grey_copy;
    }
    .theme {
      color: $blue_theme;
    }
  }
  .ft_option {
    margin-left: 194px;
    color: $grey_ava;
    ul {
      padding: 21px;
      bd
    }
    &:not(:nth-child(4)) {
        border-right: 1px solid $grey_ava;
    }
  }
  img {
      margin-left: ;
  }
}
