@import "reset";
@import "var";
@import "mixin";
.ft {
  .text {
    font-size: 14px;
    .copy {
      color: $grey_copy;
    }
    .theme {
      color: $blue_theme;
    }
  }
  .ft_option {
      margin-left: 215px;
      c
      
  }
  img {
  }
}
