@import "reset";
@import "var";
@import "mixin";
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.nav {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  overflow: hidden;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 60px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
  }
  a {
    &.mid {
      text-align: center;
      // padding: 10px 25px;
      padding: 10px 22px;

      text-decoration: none;
      color: $black;
      &:hover {
        color: $blue;
        font-weight: bold;
      }
      &:active {
        color: $black;
        border: 2px solid $grey_nav;
      }
    }
    &.icon {
      display: none;
    }
    &.side {
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.logo {
  margin-right: 94px;

  display: flex;
  justify-content: center;
  align-items: center;
  .gem {
    font-size: 27px;
    color: $grey_nav;
    font-weight: bold;
    margin-left: 10px;
  }
  &_list1 {
    font-size: 14px;
    color: $grey_nav;
    font-weight: bold;
  }
  &_list2 {
    margin-left: 25px;

    gap: 28px;
    
    .fa {
      font-size: 24px;
    }
  }
}
// for nav
@media only screen and (max-width: 1200px) {
  .nav {
    justify-content: space-between;
    a {
      &.icon {
        display: block;
        // float: right;
        color: $black;
      }
    }
    ul:not(:nth-child(1)) {
      display: none;
    }
  }
}
@media only screen and (max-width: 1200px) {
  .nav.responsive {
    border: none;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    // border: 1px solid #000;
    // gap: 20px;
    a {
      &.icon {
        // display: block;
        // float: right;
        color: $black;
        position: absolute;
        top: 50px;
        right: 40px;
      }
    }
    .logo {
      &_list1 {
        padding: 20px 0;
        display: block;
        li {
          margin-bottom: 20px;
        }
      }
      &_list2 {
        display: none;
      }
    }
  }
}

.table {
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin-top: 290px;
  margin-top: 50px;
  h2 {
    text-transform: capitalize;
    font-size: 24px;
    font-family: "Source Sans Pro", sans-serif;
    margin-bottom: 27px;
    font-weight: 300;
    width: 1180px;
    span {
      color: $blue;
    }
  }
  .detail {
    width: 1180px;
    border: 1px solid $grey_bd;
    border-collapse: collapse;
    margin: 0 auto;
    td,
    th {
      text-align: left;
    }
    tr:nth-child(even) {
      background: $grey_bg_total;
    }
    .head {
      font-family: "Montserrat", sans-serif;
      text-transform: uppercase;
      font-weight: 700;
      color: $white;
      font-size: 16px;
      background: $grey_radio;
      .product_head {
        padding: 22px 0;
      }
      .quantity_head {
        margin-left: 8px;
      }
    }
    .row {
      .close_cell {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 36px;
        .close_btn {
          @include circle(22px);
          color: $white;
          font-weight: bold;
          background: $red;
          display: inline-block;
          text-align: center;
          &:hover {
            cursor: pointer;
          }
        }
      }
      .product_col {
        width: 50%;
        .content {
          padding: 20px 0;
          display: flex;
          align-items: center;
          .square {
            display: inline-block;
            width: 62px;
            height: 62px;
            background: $grey_ava;
            &:hover {
              cursor: pointer;
            }
          }
          .text {
            display: inline-block;
            // text-transform: capitalize;

            .blue {
              margin-left: 25px;
              color: $blue;
              text-transform: none;
            }
            .grey {
              margin-left: 18px;
              color: $grey_info;
              font-size: 14px;
            }
          }
        }
      }
      .price_col {
        width: 13.5%;
        .price {
          font-size: 20px;
          color: $black;
        }
      }
      .quantity_col {
        width: 16%;
        .quantity {
          width: 106px;
          display: flex;
          align-items: center;
          border: 1px solid $grey_bd;
          div {
            display: flex;
            align-items: center;
            justify-content: center;
          }
          span {
            color: $grey_item;
          }
        }
        .minus,
        .plus {
          width: 33px;
          height: 33px;
          background: $grey_bd;
          &:hover {
            cursor: pointer;
          }
        }
        .item {
          width: 40px;
          // height: 100%;
          height: 33px;
          border: none;
          text-align: center;
          color: $grey_item;
        }
      }
      .total_col {
        width: 11.7%;
        .total {
          font-size: 24px;
          color: $black;
        }
      }
    }
    .last_row {
      td {
        padding: 24px;
      }
      .btn {
        display: flex;
        input {
          width: 276px;
          text-transform: capitalize;
          padding: 20px 24px;
          border: 1px solid $grey_bd;
          background: $grey_bg_input;
          &::placeholder {
            color: $grey_input_ship;
          }
        }
        .apply {
          margin-left: 24px;
          padding: 16px 28px;
          text-transform: uppercase;
          font-family: "Montserrat", sans-serif;
          font-weight: 700;
          font-size: 19px;
          color: $blue;
          border: 2px solid $blue;
          background: $white;
          border-radius: 3px;
          &:hover {
            cursor: pointer;
            background: $blue;
            color: $white;
          }
        }
        .cart {
          margin-left: 305px;
          width: 186px;
          text-transform: uppercase;
          font-family: "Montserrat", sans-serif;
          font-weight: 700;
          font-size: 19px;
          color: $white;
          background: $blue;
          border-radius: 3px;
          border: 2px solid $blue;
          text-align: center;
          &:hover {
            cursor: pointer;
            background: $blue_hover;
            border-color: $blue_hover;
          }
        }
        .checkout {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 25px;
          width: 200px;
          text-transform: uppercase;
          font-family: "Montserrat", sans-serif;
          font-weight: 700;
          font-size: 19px;
          color: $white;
          background: $black;
          border-radius: 3px;
          border: 2px solid $black;
          text-align: center;
          span {
            margin-left: 16px;
          }
          &:hover {
            cursor: pointer;
            background: black;
            border-color: black;
          }
        }
      }
    }
  }
}
.ship_total {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 44px;
  margin-top: 108px;

  .ship {
    margin-bottom: 50px;
    select,
    input {
      color: $grey_input_ship;
      padding: 14px 17px;
      border: 1px solid #000;
    }
    select {
      width: 100%;
    }
    input {
      margin: 0;
      margin-top: 18px;

      width: 275px;
      &::placeholder {
        color: $grey_input_ship;
      }
    }
    .zip {
      margin-left: 18px;
    }
    button {
      margin-top: 18px;
      width: 210px;
      padding: 16px 18px;
      text-transform: uppercase;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 19px;
      color: $blue;
      border: 2px solid $blue;
      background: $white;
      border-radius: 3px;

      &:hover {
        cursor: pointer;
        background: $blue;
        color: $white;
      }
    }
  }
  .total {
    table {
      width: 568px;
    }

    .left,
    .right {
      width: 50%;
      padding: 23px 25px;
      color: $grey_text_total;
    }
    .ship_handle {
      display: block;
      position: relative;
      cursor: pointer;
      font-size: 14px;
      text-transform: capitalize;
    }
    .second {
      margin: 16px 0;
    }
    p {
      margin-left: 23px;
    }
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }

    .checkmark {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);

      background-color: $grey_radio;
      @include circle(14px);
      /* display: none; */
    }

    input:checked ~ .checkmark {
      background-color: $grey_radio;
    }

    .checkmark:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none;
    }

    input:checked ~ .checkmark:after {
      display: block;
    }

    .checkmark:after {
      @include circle(8px);
      background: $white;
    }
    .left {
      font-size: 16px;
      background: $grey_bg_total;
    }
    .right {
      font-size: 14px;
    }
    .subtotal_price {
      font-size: 20px;
    }
    .total_price {
      font-size: 24px;
    }

    table,
    tr,
    td {
      // border: 1px solid $grey_bd;
      border: 1px solid #000;
      border-collapse: collapse;
    }
  }
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 140px;
  h2 {
    margin-bottom: 70px;
    width: 1180px;
    // align-self: flex-start;
    border: 1px solid #000;
    position: relative;
    span {
      position: absolute;
      display: inline-block;
      width: 610px;
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
      height: 8px;
      top: 50%;
      transform: translateY(-50%);
      margin-left: 50px;
    }
  }
  .cards {
    @extend .flex;
    gap: 44px;
    flex-wrap: wrap;
    .card {
      width: 160px;
      border: 1px solid #000;
      &:hover {
        cursor: pointer;
      }
      .square {
        height: 200px;
        background: $grey_square;
        position: relative;

        .badget {
          font-family: "Montserrat", sans-serif;
          text-transform: uppercase;
          font-weight: 700;
        }
        .sale {
          @include circle(64px);
          font-size: 14px;

          color: $white;
          background: $blue;
          position: absolute;
          left: 120px;
          top: 20px;
          @extend .flex;
          z-index: 2;
        }
        .new {
          @include circle(53px);
          font-size: 14px;
          color: $white;
          background: $black;
          position: absolute;
          left: 123px;
          bottom: 78px;
          z-index: 1;
          @extend .flex;
        }
      }
      .content {
        padding: 27px 0;
        line-height: 30px;
        text-align: center;
        .name {
          padding: 0;
          color: $grey_card_text;
        }
        .price {
          color: $blue;
        }
      }
    }
  }
}
// for ship_total and product
// set input and button 100% and ml zip 0
@media only screen and (max-width: 600px) {
  .ship_total {
    .ship {
      select,
      input {
        width: 100%;
      }
      .zip {
        margin-left: 0;
      }
      button {
        width: 100%;
      }
    }
    .total {
      table {
        width: 100%;
      }
    }
  }
  .cards {
    // width: 60%;
  }
}
//for product
// h2 go center
// product go 60 and center
@media only screen and (max-width: 1200px) {
  .product {
    width: 60%;
    // border: 1px solid #000;
    margin: 0 auto;
    margin-top: 140px;

    h2 {
      text-align: center;
      width: auto;
      span {
        display: none;
      }
    }
  }
}
// for table
// h2 go center
@media screen and (max-width: 1200px) {
  .table {
    margin-top: 50px;
    h2 {
      text-align: center;
      width: auto;
    }
  }
}
.ft {
  display: flex;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 44px 0;
  background: $black_bg_ft;
  margin-top: 100px;
  .text {
    .copy {
      color: $grey_copy;
    }
    .theme {
      color: $blue_theme;
    }
  }
  .ft_option {
    // margin-left: 194px;
    margin-left: 175px;
    li {
      padding: 0 21px;
      //   border: 1px solid #000;
      list-style-type: none;
      display: inline-block;
      &:not(:nth-child(4)) {
        border-right: 1px solid $grey_ava;
      }
      a {
        color: $grey_ava;
        border: 1px solid #000;
        text-decoration: none;
      }
    }
  }
  img {
    // margin-left: 185px;
    margin-left: 165px;
  }
}
//for footer
@media only screen and (max-width: 1200px) {
  .ft {
    flex-direction: column;
    gap: 10px;
    padding: 30px 0;
    .ft_option {
      margin-left: 0;
    }
    img {
      margin-left: 0;
    }
  }
}
